 .container {
     padding: 14px;
     background-color: rgb(33, 210, 65);
 }

 .childcontainer {
     padding: 14px;
     background-color: blue;
 }

 .child {
     padding: 14px;
     background-color: pink;
 }