    /* .box:first-child{
            background-color: red;
        }
        .box:first-child::first-line{
            color:blue;
        } */
    .box {
        border: 2px solid black;
    }

    p,
    a,
    .box,
    [data-color="primary"] {
        padding-top: 45px;
    }

    /* .box:nth-child(even){
            color: pink;
        } */
    /* .box:nth-last-child(1)
         {
            color: aquamarine;
         } */
    .boxes::before {
        content: "I am a coder";
        color: red;
    }

    .boxes::after {
        content: "I am a CS student";
        color: blue;
    }

    ::selection {
        background-color: black;
        color: red;
    }

    [data-color="primary"]:hover {
        color: blue;
    }

    input::placeholder {
        color: blue;
    }