        * {
            margin: 0;
            padding: 0;
        }

        .box {
            border: 2px solid black;
            width: 1000px;
            height: 500px;
            margin: 10px;
            padding: 10px;
        }   
        .box1{
            background-color: aqua;
            /* position: absolute;
           top: 0px; */
            
        }
           
        .box2{
            background-color: red;
            /* position: relative;  
            top: 80px;
            left: 80px; */
        }
           
        .box3{
            background-color:blue;
             /* position:absolute; */
            /* z-index: 1;  */
            /* position: fixed;
            top: 30px;
            height: 20px;
             */
        }   
           
        .box4{
             background-color:pink;
        }
        .parent{
            padding: 43px;
            margin: 10px;
            border: 2px solid black;
            width: 1100px;
             position: relative; 
        }