 :root {
     --color: green;
     --seccolor: gray;
     --defpad: 23px;
 }

 * {
     margin: 0px;
     padding: 0px;
 }

 .nav {
     background-color: var(--color);
 }

 .container {
     background-color: var(--seccolor);
 }

 ul {
     display: flex;
 }

 ul li {
     padding: var(--defpad);
 }

 ul :first-child {
     --color: pink;
     background-color: var(--color);
 }